<div class="content">
  <div class="font">404</div>
  <div class="cat-box">

    <div class="cat-head">
      <div class="cat-head-1">
        <div class="cat-head-2">
        </div>
      </div>
    </div>

    <div class="cat-ear">
      <div class="cat-ear-1"></div>
      <div class="cat-ear-2"></div>
    </div>

    <div class="cat-eyes">
      <div>
        <div class="cat-eye-circle">
          <div class="cat-eye-center"></div>
        </div>
        <div class="cat-eye-bottom"></div>
        <div class="cat-eye-red"></div>
      </div>
      <div class="cat-eye-right">
        <div class="cat-eye-circle">
          <div class="cat-eye-center"></div>
        </div>
        <div class="cat-eye-bottom"></div>
        <div class="cat-eye-red"></div>
      </div>
    </div>

    <div class="cat-face">
      <div>
        <div class="cat-face-1"></div>
        <div class="cat-face-2"></div>
        <div class="cat-face-3"></div>
        <div class="cat-face-4"></div>
        <div class="cat-face-5"></div>
        <div class="cat-face-6"></div>
      </div>
      <div class="cat-face-right">
        <div class="cat-face-1"></div>
        <div class="cat-face-2"></div>
        <div class="cat-face-3"></div>
        <div class="cat-face-4"></div>
        <div class="cat-face-5"></div>
        <div class="cat-face-6"></div>
      </div>
    </div>

    <div class="cat-nose">
      <div></div>
    </div>

    <div class="cat-mouse">
      <div class="cat-mouse-1"></div>
      <div class="cat-mouse-2"></div>
      <div class="cat-mouse-3"></div>
    </div>

  </div>
</div>
